/cmake-build-*/
.idea/
.vscode/
__pycache__/
/msvc/
.build
.deps
*.Po
*.Plo
.libs/
*.lo
*.o
*.la
*.a
.dirstamp
.DS_Store

/test

/python/package/bpqcrypto/bpqcrypto.dll
/python/package/bpqcrypto/libbpqcrypto.*

